<!doctype html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
  img {
    border: 1px #666 solid;
  }
  h2 {
    padding: 5px;
    color: #fff;
    font-size: 16px;
  }
  </style>
</head>
<body>

<div class="container" style="max-width: 680px;">
<br>

<h2 class="bg-success">チュートリアルの学習で作成したサイト</h2>
<br>
ドットインストールの「<a href="https://dotinstall.com/lessons/basic_rails_v3">Ruby on Rails 5入門</a>」の学習で作成したサイト<br>
<a href="https://yk-dotinstall-myapp.herokuapp.com/">https://yk-dotinstall-myapp.herokuapp.com/</a><br>
<a href="https://yk-dotinstall-myapp.herokuapp.com/"><%= image_tag 'thumbnail1.jpg', :width => '200px' %></a><br>
<br>
<br>

「<a href="https://railstutorial.jp/">Ruby on Rails チュートリアル：実例を使って Rails を学ぼう</a>」で学習して作成している最中のサイト<br>
<a href="https://yk-tutorial-sample-app.herokuapp.com/">https://yk-tutorial-sample-app.herokuapp.com/</a><br>
<a href="https://yk-tutorial-sample-app.herokuapp.com/"><%= image_tag 'thumbnail2.jpg', :width => '200px' %></a><br>
<br>
<br>

<h2 class="bg-primary">上記の経験を元に独自に作成しているサンプルのサイト</h2>
<br>
画像を共有するサンプルのサイト<br>
<a href="https://herokuappyk.herokuapp.com/test">https://herokuappyk.herokuapp.com/test</a><br>
<a href="https://herokuappyk.herokuapp.com/test"><%= image_tag 'thumbnail3.jpg', :width => '200px' %></a><br>
<br>
<br>

</div>

</body>
</html>
